@keyframes rainbow-border {
    0% { border-color: red; }
    14% { border-color: orange; }
    28% { border-color: yellow; }
    42% { border-color: green; }
    57% { border-color: blue; }
    71% { border-color: indigo; }
    85% { border-color: violet; }
    100% { border-color: red; }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calculator {
    background-image: url(images/car-or-bike-smokie-background-realistic-ai-generative-free-photo.jpg);
    background-color: rgb(14, 203, 21); /* Semi-transparent black background */
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    animation: rainbow-border 5s infinite linear;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border: 2px solid blue; /* Blue border for the display */
    border-radius: 10px; /* Radius of 10px */
    outline: none;
    margin-bottom: 10px;
    background-color: #333; /* Darker background for the display */
    color: #fff; /* White text color */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

button {
    padding: 20px;
    font-size: 18px;
    border: 5px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    animation: rainbow-border 5s infinite linear;
}

.clear {
    
    background-color: #f44336;
    color: #fff;
}

.delete {
    background-color: #ff9800;
    color: #fff;
}

.number {
    /* background-color: #4caf50;
    color: #fff; */
    background-image: url(images/Screenshot\ 2023-12-15\ 114344.png);
}

.operator {
    background-color: #2196f3;
    color: #fff;
}

.equal {
    background-color: #9c27b0;
    color: #fff;
}

.function {
    background-color: #ffeb3b;
    color: #000;
}

button:hover {
    opacity: 0.8;
}

.shake {
    animation: shake 0.5s;
}
